form
  div.row
    div.col.s12.input-field
      input(type="text",name="username",id="username")
      label(for="username") Username
    div.col.s12.input-field
      input(type="text",name="password",id="password")
      label(for="password") Password
    div.col.s12.input-field
      input(type="text",name="cpassword",id="cpassword")
      label(for="cpassword") Confirm password
    div.center
      button.btn.waves-effect.waves-light(type="submit")
        i.material-icons.right send
        | Submit
.center
  br
  div.row
    div.col.s12
      a.btn.waves-effect.waves-light(href="auth/google")
        |  Sign Up with Google
        i.fa.fa-google.c-icon