extends layout

block content
  div.container.err
    div.row.center
      div.card.col.l10.offset-l1.s12
        h3= message
        h4= error.status
      div.col.l10.offset-l1.err-pane
        pre #{error.stack}
