extends ./layout.jade

block content
  div.container
    div.row.center
      h3.teal-text.text-teal-darken-1 Learn how to speed read.
      div.row.center
        div.col.s8.offset-s2
          p
            em "Speed reading
            |  is any of several techniques used to improve one's ability to read quickly.
            | Methods include chunking and minimizing subvocalization.
            em "
          a.btn.waves-effect.waves-light begin

  script(src='bower_components/jquery/dist/jquery.min.js')
  script(src='dist/js/dist.js')
