@import "materialize.scss";

// Import icons
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(http://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css);

$body-bg: #c1bdba;
$white: #ffffff;

$main: #1ab188;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

html {
  font-family: 'Dosis', sans-serif;
}

.inline li {
display: inline;
list-style-type: none;
}

.tab-group {
  list-style:none;
  padding:0;
  margin:0 0 40px 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  li a {
    display:block;
    text-decoration:none;
    padding:15px;
    background:rgba($gray-light,.25);
    color:$gray-light;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
    &:hover {
      background: $primary-color-dark;
      color:$white;
    }
  }
  .active a {
    background: $primary-color;
    color: $white;
  }
}

.c-icon {
  padding-left: 1em;
}

.alert {
  background: $white;
  color: $success-color;
  padding: 0.5px;
}

.err {
  font-size: 80%;
  color: $error-color;
}

.err h3 {
  color: $error-color;
}

.err-pane {
  background: $white;
}

#brand-logo {
  margin-left: 15px;
  cursor: pointer;
  z-index: 1;
}

#auth-links, #auth-actions {
  margin-right: 15px;
}

.app-nav {
  padding: 0px !important;
  background-color: $primary-color-dark;
  @media (min-width: 992px) {
    height: 100vh;
  }
  ul li {
    padding: 20px;
  }
  li {
    &:hover {
      background: $primary-color;
    }
    a {
      color:$white;
      width:50%;
      text-align:center;
      cursor:pointer;
      transition:.5s ease;
    }
    &.active {
      background: $primary-color;
    }
  }
}

.logout:hover {
  cursor: pointer;
}

#paste-text {
  min-width: 300px;
  min-height: 200px;
}

#read-area {
  padding: 30px;
  font-size: 150%;
  margin-top: 40px;
}
