.row
  include shared/dashboard_nav.jade
  .col.s12.l10.center
    h5 Paste your text
    .row
      .input-field.col.s12.offset-l2.l8
        textarea#paste-textarea.materialize-textarea
        label(for='paste-textarea') Textarea
      .col.s12.input-field.offset-l2.l8
        select(ng-options="chunk.name for chunk in chunks track by chunk.size"
          ng-model="chunkSize")
        label Chunk Size
      .col.s12.input-field.offset-l2.l8
        select(ng-options="{{ speed + ' wpm'}} for speed in speeds track by speed"
          ng-model="speed")
        label Words per Minute
      .col.s12.input-field.offset-l2.l8
        button.btn.waves-effect.waves-light(ng-click="speedRead()")
          i.material-icons.right send
          | Speed Read
      script.
        $('select').material_select();



