.row
  include shared/dashboard_nav.jade
  .col.s12.l10.center
    h5 Paste your text
    form.row(ng-submit="speedRead()" name="getText")
      .input-field.col.s12.offset-l2.l8
        textarea#paste-text.materialize-textarea(required pattern='(.|[\r\n]){100,}',
          ng-model="pasteText")
        label(for='paste-text') Text to speed read
      .col.s12.input-field.offset-l2.l8
        select(ng-model="chunkSize")
          option(value='1') one word at a time
          option(value='2') Two words at a time
          option(value='3') Three word at a time
        label Chunk Size
      .col.s12.input-field.offset-l2.l8
        select(ng-model="speed")
          option(value='300') 300
          option(value='320') 320
          option(value='340') 340
          option(value='360') 360
        label Words per Minute
      .col.s12.input-field.offset-l2.l8
        button.btn.waves-effect.waves-light
          i.material-icons.right send
          | Speed Read

script.
  $(document).ready(function() {
    $('select').material_select();
  })




