.row
  include shared/dashboard_nav.jade
  .col.s12.l10.center.err(ng-show="getText_err.length != 0")
    p(ng-repeat="i in getText_err")
      | {{ i }}
  .col.s12.l10.center
    h5 Paste your text
    form.row(ng-submit="speedRead()" name="getText")
      .input-field.col.s12.offset-l2.l8
        textarea#paste-text.materialize-textarea(required pattern='(.|[\r\n]){100,}',
          ng-model="pasteText")
        label(for='paste-text') Text to speed read
      .col.s12.input-field.offset-l2.l8
        select(ng-model="chunkSize" ng-init="chunkSize = '1'" required)
          option(value='1') One word at a time
          option(value='2') Two words at a time
          option(value='3') Three words at a time
          option(value='4') Four words at a time
        label Chunk Size
      .col.s12.input-field.offset-l2.l8
        select(ng-model="speed" ng-init="speed = '300'" required)
          option(value='300') 300
          option(value='350') 350
          option(value='400') 400
          option(value='450') 450
        label Words per Minute
      .col.s12.input-field.offset-l2.l8
        button.btn.waves-effect.waves-light
          i.material-icons.right send
          | Speed Read

script.
  $(document).ready(function() {
    $('select').material_select();
  })




